{{!-- 
/*
 * Copyright 2018 Uncharted Software Inc.
 */
 --}}

<div class="uncharted-cards-card{{#unless disableFlipping}} flip-container{{/unless}}{{#if titleOnly}} title-only{{/if}}{{#if isExpanded}} expanded{{/if}}{{#if boxShadow}} shadow-enabled{{/if}}" style="width: {{width}}px; {{#if height}}height: {{height}}px;{{/if}}" data-id="{{id}}">
    <a class="flipper {{#if isFlipped}}flipped{{/if}} card-link" href="{{websiteUrl}}" target="_blank">
        {{#unless removeFrontCard}}
            <div class="front card">
                {{#if iconUrl}}
                    <div class="card-icon" style="background-image: url({{iconUrl}})"></div>
                {{/if}}
                <div class="card-content-container" style="width: {{cardContentWidth}}px; {{#if topBarColor}} border-top: 5px solid {{topBarColor}};{{/if}}">
                    <div class="card-content">
                        <div class="card-image"></div>
                        <div class="card-body">
                            {{#if title}}
                                <h1 class="title">{{title}}</h1>
                                {{!-- <a href="{{websiteUrl}}" target="_blank"><i class="fas fa-link"></i></a> --}}
                            {{/if}}
                            {{#if subtitle.length }}
                                <div class="subtitle meta-line">
                                    {{#each subtitle}}{{#unless @first}}<span class="delimiter">{{../subtitleDelimiter}}</span>{{/unless}}<span class="value">{{this}}</span>{{/each}}
                                </div>
                            {{/if}}
                            <div class="summary" title="{{tooltip}}">{{{summary}}}</div>
                        </div>
                    </div>
                </div>
                <div class="card-content-container card-reader-container" style="width: {{expandedWidth}}px;"></div>
            </div>
        {{/unless}}
        {{#unless removeBackCard}}
            <div class="back card">
                <div class="card-content-container metadata-content-container {{#if imageUrl}}has-image{{/if}}" style="width: {{cardContentWidth}}px; {{#if topBarColor}} border-top: 5px solid {{topBarColor}};{{/if}}">
                    <div class="meta-data-content">
                        <div class="card-body">
                            <div class="meta-data-content-header">
                                <div class="title-box overflow-box">
                                    <h1 class="title overflow-value">{{title}}</h1>
                                    {{!-- <a href="{{websiteUrl}}" target="_blank"><i class="fas fa-link"></i></a> --}}
                                </div>
                                {{#if subtitle.length }}
                                    <div class="subtitle-box overflow-box">
                                        <div class="subtitle meta-line overflow-value">
                                            {{#each subtitle}}{{#unless @first}}<span class="delimiter">{{../subtitleDelimiter}}</span>{{/unless}}<span class="value">{{this}}</span>{{/each}}
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                            <div class="meta-data-table" style="font-size: {{metaDataFontSize}}pt;">
                                <table width ="100%">
                                    {{#each metadata}}
                                        <tr>
                                            <td class="key-box value-box overflow-box">
                                                <span class="value overflow-value" style="color: {{../metaDataTitleColor}}; font-family: {{../metaDataTitleFontFamily}}">{{@key}}</span>
                                            </td>
                                            <td class="meta-data-box value-box overflow-box">
                                            <span class="value overflow-value" style="color: {{../metaDataValueColor}}; font-family: {{../metaDataValueFontFamily}}">
                                                {{#if this}}
                                                    {{#isImageDataUrl this}}
                                                        <img src="{{this}}" alt="">
                                                    {{else}}
                                                        {{#linkify this}}{{/linkify}}
                                                    {{/isImageDataUrl}}
                                                {{/if}}
                                            </span>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                        {{#if imageUrl}}
                            <div class="meta-data-images-container">
                                {{#cardImages imageUrl}}
                                    <div class="image" data-url="{{url}}" style="background-image:url({{url}})"></div>
                                {{/cardImages}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="card-content-container card-reader-container" style="width: {{expandedWidth}}px"></div>
            </div>
        {{/unless}}
    </a>
</div>
